.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen se ajuste y se recorte correctamente */
  }

.cardLoading {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
}